$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



body {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.fluky-text {
  font-weight: bold;
  font-family: "Poiret One";
}

textarea, input {
  font-family: FontAwesome, sans-serif;
}

.header {
  padding-top: 12px;
  color: #FFF;
  border-bottom: 1px solid #fff;
  background-color: $brand-primary;
  //opacity: 0.95;
  font-size: 120%;
}

/* Custom page footer */
.footer {
  padding-top: 12px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #FFF;
  opacity: 0.85;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.table th {
  text-align: center;
}

  .center {
    text-align: center;
    vertical-align: center;
  }

.vsep {
  margin-top: 10px;
}

.btn {
  //-webkit-transition: background ease 200ms;
  //transition: background ease 200ms;
}