<div class="">
  <div class="page-header">
    <h1 class="fluky-text strong"><i class="fa fa-braille"></i> Fluky MCQ Marking System</h1>
    <h5 class="text-right">Created by Mitchell Cox</h5>
  </div>

  <uib-accordion>
  <uib-accordion-group heading="Fluky Instructions" is-open="true" panel-class="panel-primary">
  <p>
    Everything you need to do is on this one page. Remember, nothing is stored by Fluky on the server. All the processing is done by your browser using JavaScript code - this avoids any possible security risks.
  </p>
  <p>
    As you complete a step, further steps will appear... (Don't worry - there aren't many!)
  </p>
  <p>
    There are import and export functions available, so you should save your mark model for future use.
  </p>
</uib-accordion-group>
</uib-accordion>


<uib-accordion>
  <uib-accordion-group heading="Setup Mark Model" is-open="true">
    <p>
      Create your mark model here by specifying the number of questions in your test, and the marks awarded to each option.
    </p>

    <p>
      <em>
        Note: Zero marks will be awarded if the number of choices made is greater than the number of choices allowed! It might also be worth considering making each question allow 2 answers, to compensate for scan errors.
      </em>
    </p>

    <p>When you are happy with the options, click the generate button.</p>

      <!--<div class="form-group">
        <label>Number of Options per Question:</label>
        <input type="number" class="form-control" data-ng-model="optionsPerQuestion" data-ng-change="changeOptionsPerQuestion()">
      </div>

      <div class="form-group form-inline">
        <input data-ng-repeat="q in questionOptions" type="number" class="form-control" data-ng-model="q">
      </div> -->


      <div class="form-group">
        <label>Default Mark:</label>
        <input type="number" class="form-control" data-ng-model="markModelSetup.defaultMark">
      </div>

      <div class="form-group">
        <label>Number of Questions:</label>
        <input type="number" class="form-control" min="1" data-ng-model="markModelSetup.numQuestions">
      </div>

      <div class="form-group">
        <label>Total Marks:</label>
        <input type="number" class="form-control" min="1" data-ng-model="markModelSetup.totalMarks">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary pull-left" data-ng-click="generateModel()" data-ng-show="!markModel">
          Generate Model Grid
        </button>
        <button type="button" class="btn btn-primary pull-left" data-ng-click="generateModel()" data-ng-show="markModel">
          Re-Generate Model Grid
        </button>
      </div>

      <div class="form-group">
        <button type="file" class="btn btn-default pull-right" data-ngf-select="importModel($file, $invalidFiles)">
          <i class="fa fa-folder-open"></i> {{importModelText}}
        </button>
      </div>


      <div data-ng-if="markModel">
        <div class="row"></div>
        <div class="vsep"></div>
        <hr/>
        <label>Questions:</label>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Question</th>
              <th>A</th>
              <th>B</th>
              <th>C</th>
              <th>D</th>
              <th>E</th>
              <th>Choices</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="q in markModel">
              <td class="center">{{q.num}}</td>
              <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[0]"></td>
              <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[1]"></td>
              <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[2]"></td>
              <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[3]"></td>
              <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[4]"></td>
              <td><input type="number" class="form-control" min="1" max="5" data-ng-model="q.choices"></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <button type="button" class="btn btn-default pull-right" data-ng-click="exportModel()">
            <i class="fa fa-download"></i> Export Model Grid
          </button>
        </div>
      </div>



    </uib-accordion-group>
  </uib-accordion>


<uib-accordion data-ng-if="markModel">
  <uib-accordion-group heading="Upload Card Scan" is-open="true">
      <p>
        Upload the .dat file that you received from the card scanner here. This file contains a list of student numbers associated to the MCQ card selections.
      </p>
      <p>
        The file will be immediately processed according to the Mark Model above. Click "Download CSV" and you will be prompted where you would like to save the .csv file which contains the marks. Save the file and then proceed to use Fluky to view the associated statistics.
      </p>
      <p>
        <em>
          Note: On occasion, incompetent students don't fill out their student number correctly. Unfortunately, you will have to manually figure out these cases.
        </em>
      </p>

      <label>Upload Scan Data:</label>
      <div class="input-group">
        <input type="text" readonly class="form-control" data-ng-model="importMarksFileName" placeholder="Click the &#xf07c; button to choose the .dat file...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="file" data-ngf-select="importMarks($file, $invalidFiles)"><i class="fa fa-folder-open"></i></button>
        </span>
      </input>
    </div>

    <div data-ng-show="uploading">
      <h5><i class="fa fa-cog fa-spin"></i> Please wait...</h5>
    </div>

    <div data-ng-if="markData">
      <div class="vsep"></div>

      <!-- Statistics -->
      <label>Number of cards marked: </label> {{markData.length}}


      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" data-ng-click="downloadMarksCSV()">
          <i class="fa fa-download"></i> Download CSV
        </button>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default btn-block" data-ng-click="downloadMarksJSON()">
          <i class="fa fa-cogs"></i> Download Raw JSON (Power Users Only)
        </button>
      </div>

    </div>
  </uib-accordion-group>
</uib-accordion>



<div class="panel panel-default" data-ng-if="markData">
  <div class="panel-heading">
    <h3 class="panel-title">View Mark Statistics</h3>
  </div>
  <div class="panel-body">
    <p>
      Here you can view the marks for an individual card (student) as well as overall statistics.
    </p>


    <h5>Overall Statistics:</h5>
    
    <h5>Average Mark: </h5> {{markStats.average | number:2}} / {{markModelSetup.totalMarks}} ({{(markStats.average / markModelSetup.totalMarks)*100 | number:2}}%)
    <h5>Pass Rate: </h5> {{markStats.numPassed}} / {{markData.length}} ({{(markStats.numPassed / markData.length)*100 | number:2}}%)
    <h5>Best Mark: </h5> {{markStats.bestMark}} / {{markModelSetup.totalMarks}} ({{(markStats.bestMark / markModelSetup.totalMarks)*100 | number:2}}%)
    <h5>Worst Mark: </h5> {{markStats.worstMark}} / {{markModelSetup.totalMarks}} ({{(markStats.worstMark / markModelSetup.totalMarks)*100 | number:2}}%)

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question</th>
          <th>Average Mark</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="q in markStats.questionAverage">
          <td class="center">{{q.q}}</td>
          <td class="center">{{q.ave | number:2}}</td>
        </tr>
      </tbody>
    </table>

    <hr/>
    <h5>Individual Statistics:</h5>

    <div class="form-group">
      <label>Select a card (by student number):</label>
      <select class="form-control" data-ng-model="selectedStudent">
        <option data-ng-repeat="s in markData" value="{{s.studentNumber}}">{{s.studentNumber}}</option>
      </select>
    </div>

    <div data-ng-if="selectedStudent">

      <label>Total Mark: </label> {{getMarkData(selectedStudent).totalMark}} / {{totalMarks}} ({{(getMarkData(selectedStudent).totalMark/markModel.totalMarks)*100 | number:2}}%)

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Mark</th>
            <th>Choices Made</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="m in getMarkData(selectedStudent).marks">
            <td class="center">{{m.q}}</td>
            <td class="center">{{m.mark}}</td>
            <td class="center">{{m.choices}} <i class="fa fa-exclamation-circle pull-right" data-ng-show="{{m.excessChoices}}"></i></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
</div>

</div>
