<div class="">
  <div class="page-header">
    <h1 class="fluky-text strong"><i class="fa fa-braille"></i> Fluky MCQ Marking System</h1>
    <h5 class="text-right">Created by Mitchell Cox</h5>
  </div>

  <uib-accordion>
  <uib-accordion-group heading="Fluky Instructions" is-open="true" panel-class="panel-primary">
  <p>
    Everything you need to do is on this one page. Nothing is stored by Fluky on the server and all the processing is done by your browser using JavaScript code - this avoids any possible security risks.
  </p>
  <p>
    <b>Pro Tip #1:</b> There are import and export functions available: save your mark model for future use.
  </p>
  <p><b>Pro Tip #2:</b> Click the section headings to collapse them and save screen real estate...</p>
</uib-accordion-group>
</uib-accordion>


<uib-accordion>
<uib-accordion-group heading="Setup Mark Model" is-open="true">

<div class="panel panel-primary">
  <div class="panel-body">
    <p>
      Create your mark model here by first specifying the number of questions in your test, and the total marks available (100%). When you increment or decrement the number of questions you will notice the grid in the "Mark Setup" changes to reflect your setup. The "Mark Setup" section contains the setup for the test on a question by question basis, pertinently, the marks that should be allocated to each choice. Negative and part marks are also allowed.
    </p>
    <p>The final test mark is the sum of all of the choice marks, however, zero marks will be awarded if the number of choices made is greater than the maximum number of choices allowed for that question!</p>
    <p><b>Pro Tip #1:</b>  It might be worth considering making each question allow 2 answers, to compensate for extreme scanner sensitivity.
    </p>

    <p><b>Pro Tip #2:</b> If you change the default choice marks before you increment the number of questions, the next question will have a different default for that question!</p>
  </div>
</div>


      <!--<div class="form-group">
        <label>Number of Options per Question:</label>
        <input type="number" class="form-control" data-ng-model="optionsPerQuestion" data-ng-change="changeOptionsPerQuestion()">
      </div>

      <div class="form-group form-inline">
        <input data-ng-repeat="q in questionOptions" type="number" class="form-control" data-ng-model="q">
      </div> -->

      <h5></h5>

      <div class="form-group">
        <button type="file" class="btn btn-default btn-block" data-ngf-select="importModel($file, $invalidFiles)">
          <i class="fa fa-folder-open"></i> {{importModelText}}
        </button>
      </div>


      <h4>General Parameters</h4>

      <div class="form-group">
        <label>Number of Questions: </label>
        <input type="number" class="form-control" min="1" data-ng-model="markModelSetup.numQuestions" data-ng-change="generateModel()">
      </div>

      <div class="form-group">
        <label>Default Choice Mark: </label>
        <input type="number" class="form-control" data-ng-model="markModelSetup.defaultMark">
      </div>

      <div class="form-group">
        <label>Total Test Marks: </label>
        <input type="number" class="form-control" min="1" data-ng-model="markModelSetup.totalMarks">
      </div>

      <hr/>
      <h4>Advanced Parameters (Optional)</h4>

      <div class="form-group">
        <label>Number of Knowledge Areas: </label>
        <input type="number" class="form-control" min="0" data-ng-model="markModelSetup.knowledgeAreas.length" data-ng-change="updateKA()">
      </div>
      
      <div class="bg-warning" data-ng-show="markModelSetup.knowledgeAreas.length>0">
        <p class="text-warning">This feature is not fully implemented, yet. The final CSV will not include knowledge area mark breakdowns.</p>
      </div>

      <!--
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-left" data-ng-click="generateModel()" data-ng-show="!markModel">
          Generate Model Grid
        </button>
        <button type="button" class="btn btn-primary pull-left" data-ng-click="generateModel()" data-ng-show="markModel">
          Update Model Grid
        </button>
      </div>
    -->




    <div data-ng-if="markModel">
      <hr/>
      <h4>Mark Setup</h4>
      <div class="row"></div>
      <div class="vsep"></div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>Question</br>Mark</th>
            <th>Max.</br>Choices</th>
            <th data-ng-show="markModelSetup.knowledgeAreas.length>0">Knowledge</br>Area</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="q in markModel">
            <td class="center">{{q.num}}</td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[0]"></td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[1]"></td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[2]"></td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[3]"></td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceMarks[4]"></td>
            <td><input type="number" class="form-control" data-ng-model="q.choiceTotal"></td>
            <td><input type="number" class="form-control" min="0" max="5" data-ng-model="q.choices"></td>
            <td data-ng-show="markModelSetup.knowledgeAreas.length>0"><select class="form-control" data-ng-model="q.knowledgeArea" data-ng-options="o as o for o in markModelSetup.knowledgeAreas"></select></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <button type="button" class="btn btn-default btn-block" data-ng-click="exportModel()">
          <i class="fa fa-download"></i> Download Mark Model File
        </button>
      </div>
    </div>



  </uib-accordion-group>
</uib-accordion>


<uib-accordion data-ng-if="markModel">
<uib-accordion-group heading="Upload Card Scan" is-open="true">
<div class="panel panel-primary">
  <div class="panel-body">
    <p>
      Upload the .dat file that you received from the card scanner here. The file will be processed immediately according to the Mark Model above. If you change the Mark Model, do the upload again to re-process.
    </p>
    <p>
     Click "Download CSV" and you will be prompted where you would like to save the .csv file which contains the marks. Save the file and then proceed to use Fluky to view the associated statistics.
   </p>
   <p>
    <b>Pro Tip:</b> On occasion, incompetent students don't fill out their student number correctly. Unfortunately, you will have to manually figure out these cases.
  </p>
</div>
</div>
<h5></h5>

<label>Upload Scan Data:</label>
<div class="input-group">
  <input type="text" readonly class="form-control" data-ng-model="importMarksFileName" placeholder="Click the &#xf07c; button to choose the .dat file...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="file" data-ngf-select="importMarks($file, $invalidFiles)"><i class="fa fa-folder-open"></i></button>
  </span>
</input>
</div>

    <!--<div data-ng-show="uploading">
      <h5><i class="fa fa-cog fa-spin"></i> Please wait...</h5>
    </div>-->

    <div data-ng-if="markData">
      <div class="vsep"></div>

      <!-- Statistics -->
      <label>Number of cards marked: </label> {{markData.length}}


      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" data-ng-click="downloadMarksCSV()">
          <i class="fa fa-download"></i> Download CSV
        </button>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default btn-block" data-ng-click="downloadMarksJSON()">
          <i class="fa fa-cogs"></i> Download Raw JSON (Power Users Only)
        </button>
      </div>

    </div>
  </uib-accordion-group>
</uib-accordion>



<div class="panel panel-default" data-ng-if="markData">
  <div class="panel-heading">
    <h3 class="panel-title">Test Statistics</h3>
  </div>
  <div class="panel-body">
    <p>
      Here you can view the marks for an individual card (student) as well as overall statistics.
    </p>


    <h4>Overall Statistics</h4>
    
    <h5>Average Mark: </h5> {{markStats.average | number:2}} / {{markModelSetup.totalMarks}} ({{(markStats.average / markModelSetup.totalMarks)*100 | number:2}}%)
    <h5>Pass Rate: </h5> {{markStats.numPassed}} / {{markData.length}} ({{(markStats.numPassed / markData.length)*100 | number:2}}%)
    <h5>Best Mark: </h5> {{markStats.bestMark}} / {{markModelSetup.totalMarks}} ({{(markStats.bestMark / markModelSetup.totalMarks)*100 | number:2}}%)
    <h5>Worst Mark: </h5> {{markStats.worstMark}} / {{markModelSetup.totalMarks}} ({{(markStats.worstMark / markModelSetup.totalMarks)*100 | number:2}}%)

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question</th>
          <th>Average Mark</th>
          <th>Maximum Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="q in markStats.questionAverage">
          <td class="center">{{q.q}}</td>
          <td class="center">{{q.ave | number:2}}</td>
          <td class="center">{{q.max}}</td>
        </tr>
      </tbody>
    </table>

    <h5>Overall Percentage Histogram:</h5>
    <div data-ac-chart="'bar'" data-ac-data="markStats.histo.data" data-ac-config="markStats.histo.config" class="chart"></div>
    
    

    <hr/>
    <h4>Individual Statistics</h4>

    <div class="form-group">
      <label>Select a card (by student number):</label>
      <select class="form-control" data-ng-model="selectedStudent">
        <option data-ng-repeat="s in markData" value="{{s.studentNumber}}">{{s.studentNumber}}</option>
      </select>
    </div>

    <div data-ng-if="selectedStudent">

      <label>Total Mark: </label> {{getMarkData(selectedStudent).totalMark}} / {{markModelSetup.totalMarks}} ({{(getMarkData(selectedStudent).totalMark/markModelSetup.totalMarks)*100 | number:2}}%)
      <br/>
      <label>Lenient Total Mark: </label> {{getMarkData(selectedStudent).lenientTotalMark}} / {{markModelSetup.totalMarks}} ({{(getMarkData(selectedStudent).lenientTotalMark/markModelSetup.totalMarks)*100 | number:2}}%) <em>(Each question is limited to greater than or equal to zero)</em>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Mark</th>
            <th>Choices Made</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="m in getMarkData(selectedStudent).marks">
            <td class="center">{{m.q}}</td>
            <td class="center">{{m.mark}}</td>
            <td class="center">{{m.choices}} <i class="fa fa-exclamation-circle pull-right" data-ng-show="{{m.excessChoices}}"></i></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
</div>

</div>
